ENVIRONMENT=local
DJANGO_SECRET_KEY=change-me-to-a-real-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

POSTGRES_DB=realmate
POSTGRES_USER=realmate
POSTGRES_PASSWORD=realmate
POSTGRES_PORT=5432

OPENAI_API_KEY=sk-your-key-here
